<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        tools:targetApi="31">
        <activity
            android:name=".SharedPreferenceActivity"
            android:exported="true" />
        <activity
            android:name=".BottomNatigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".ListViewActivity"
            android:exported="true" />
        <activity
            android:name=".SingleChoiceDialogActivity"
            android:exported="true" />
        <activity
            android:name=".AlertDialogActivity"
            android:exported="true" />
        <activity
            android:name=".CheckedboxActivity"
            android:exported="true" />
        <activity
            android:name=".RadioButtonActivity"
            android:exported="true" />
        <activity
            android:name=".ImageViewActivity"
            android:exported="true" />
        <activity
            android:name=".EditTextActivity"
            android:exported="true" />
        <activity
            android:name=".ButtonActivity"
            android:exported="true" />
        <activity
            android:name=".TextViewActivtity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrameLayoutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".relativeLayout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".commoncomponent"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>